	
	header{
			background-color:#ffffff;
			padding:30px;
			border-bottom:5px solid #cccccc;
			margin-left:auto;
			margin-right:auto;		
	}

	
	#section3{
	       color:#b8b8b4;
	       float:right;
	       padding-right:60px;
	       margin-right:8%;
	       margin-top:0.8%;
	       font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;

	}

	#about,
	#portfolio,
	#contact{
		padding:30px;
	}

	#my-name{
		background-color:#4aaaa5;
		padding:30px 20px 30px 20px;
		margin-left:8%;
		color:#ffffff;
		font-size:1.5em;
		font-family: "Georgia", Times, "Times New Roman", serif;
		font-weight: bold;

	}

	body{
		background-image: url("http://img04.deviantart.net/ef55/i/2013/260/4/7/texture_140_by_sirius_sdz-d2btip9.jpg");
		background-repeat: repeat-y;
	}

	#section1{
		width:650px;
		height:auto;
		background-color:#ffffff;
		margin:50px 20px 50px 130px;
		float:left;
		padding-bottom:2% ;

		
	}


	.titulo{
		color:#4aaaa5;
		padding:30px 15px 30px 15px;
		font-size:1.5em;
		font-family: "Georgia", Times, "Times New Roman", serif;
		font-weight: bold;
		border-bottom:3px solid #dddddd;
		margin-left:25px;
		margin-right:25px;
	}

	#bio-pic{
		width:190px;
		margin-left:20px;
		float:left;
		margin:3.5%;
		
	}

	.bio-text{
		margin:3.5%;
		color:#777777;
		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		line-height: 2.0;
	}

	#section2{
		width:270px;
		height:auto;
		background-color:#ffffff;
		margin:50px;
		float:left;
	}

	#info{
		color:#4aaaa5;
		padding:20px 10px 20px 15px;
		font-size:22px;
		border-bottom:2px solid #dddddd;
		margin-left:25px;
		margin-right:25px;
		font-size:1.25em;
		font-family: "Georgia", Times, "Times New Roman", serif;
		font-weight: bold;
	}

	.logo{
		height:65px;
		width:65px;
		margin:10px;
		
	}

	div{

		float:middle;
		margin-bottom:50px;
		}


	form{
 		width: 400px;
   		 padding: 15px 0  0 35px;
		}	
	
	label{
		display: inline-block;
    	width: 200px;
    	text-align:left;
    	font-size:16px;
    	color:#777777;
    	margin-bottom:10px;
    	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	}

	input, textarea {
    	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    	font-size:12px;
    	padding: 7px 3px 7px 10px;
    	width: 590px;
   		border: 1px solid #d4d4d4;

	}

	#msg{
		height:150px;
	}

	button {
		color:#ffffff;
		background-color:#4aaaa5;
		border:none;
		padding:10 30 10 30; 
		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    	font-size:16px;

}

	a:link, a:visited{
		text-decoration: none;
		color:#b8b8b4;
	}

	a:hover{
		color:#4aaaa5;
	}

	.desings{
		margin:3%;
		width:285px;
		height:auto;
		float:left;
		overflow:hidden;}

	
	footer{
		background-color:#666666;
		font:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color:#c5c5bc;
		font-size:12px;
		text-align:center;
		padding:35px;
		border-top:10px solid #4aaaa5;
		margin-left:auto;
		margin-right:auto;
		clear:both;
		width:100%; 

	}	

	#workex{
		padding-left:100px;
	}

@media screen and (max-width: 980px) {


	#section1 {
		width: 50%;
		position: relative;
		right:25px;
		margin-right:5px;
		margin-left:13%;
	}
	input, textarea{
		width:90%;
	}
	#section2 {
		width: 25%;
}
	.logo {
		width:20%;
		height: auto;

	}

	.desings{
		position:relative;
		left:55px;
	}
}


@media screen and (max-width: 768px) {


	#my-name{
		margin-left:1%;
		padding-left:30px;
		padding-right:30px;
	}
	#section1 {
		width: 90%;
		position: relative;
		right:55px;

	}
	input, textarea{
		width:168%;
	}
	#section2 {
		width: 90%;
		position: relative;
		right:5px;
		bottom:50px;

}

	#section3{
	
		position:relative;
		left:135px;
		bottom:28px;
	 	font-size:17px;
	}
	.logo {
		width:10%;
		height: auto;

	}

	.desings{
	 width: 40%;
	 margin-left:4.5px;
	}

	#info{
	padding-left:0;	
	}

	.titulo{
		padding-left:0;	
	}

}

@media screen and (max-width: 640px) {


	header{

		background-color: #4aaaa5;
		border:none;
	}
	#my-name{
		text-align:center;
		margin:0;
		padding-left:85px;
		padding-right:200px;
		font-size:30px;
			}
	#section1 {
		width: 92%;
		position: relative;
		right:55px;

	}
	input, textarea{
		width:135%;
	}
	#section2 {
		width: 91.5%;
		position: relative;
		right:25px;
		bottom:50px;

}

	#section3{

	background-color: white;
	width: 680px;
		position:relative;
		top:26px;
	 	font-size:17px;
	 	margin-left:0;
	 	padding-top:20px;
	 	padding-bottom:20px;
	 	border-bottom:5px solid #cccccc;

	}

	#about{
		padding-left: 130px;
		padding-right: 70px;

	}


	#contact{
		padding-left:70px;
	}
	.logo {
		width:10%;
		height: auto;

	}

	.desings{
	 width: 90%;
	 position:relative;
	 left:20px;
	}

	#info{
	padding-left:0;	
	}

	.titulo{
		padding-left:0;	
		font-size:26px;
	}

	#bio-pic{
	width:93%;
	margin-left:20px;
	float:left;
	margin:3.5%;

}}